* {
	box-sizing: border-box;
}

.field {
	background: #ffffff;
	display: inline-block;
	font-family: "Roboto", arial, sans-serif;
	font-size: 17pt;
	margin: 0.8em auto;
	position: relative;
	width: 100%;
	vertical-align: bottom;
	label {
		color: #6e6e6e;
		font-weight: 400;
		top: 0;
		position: absolute;
		left: 0.1em;
		font-size: 1em;
		outline: transparent;
		transition: all 0.1s ease-out;
		background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 95%, rgba(255,255,255,0) 100%);
		padding: 0 0em;
		cursor: text;
		transform: translateY(0.25em);
		user-select: none;
		z-index: 1;
	}
	input, select {
		appearance: none;
		background: transparent;
		border: 0;
		border-bottom: 0.0625em solid #6e6e6e;
		border-radius: 0.416666875em;
		border-radius: 0;
		font-family: "Roboto", arial, sans-serif;
		font-size: 1em;
		font-weight: 400;
		max-height: 2.975em;
		outline: transparent;
		padding: 0.28em 0.1em;
		-moz-padding-start: 0.7em;
		position: relative;
		transition: all 0.15s ease-in-out;
		width: 100%;
		z-index: 2;
		&::-ms-expand {
    	display: none;
		}
		&:hover {
			border-color: #8493A7;
		}
		&:focus {
			border-color: #0081D5;
		}
		&.valid {
			border-color: #06BC5B;
		}
		&:focus, &:not(.empty).valid, &:not(.empty).error {
			& + label {
				color: #606060;
				cursor: default;
				font-size: 0.8em;
				transform: translateY(-1em);
				transition: all 0.15s ease-out;
				z-index: 3;
			}
		}
		&:-webkit-autofill {
			background: #ffffff !important;
			box-shadow: inset 0px 0px 0px 30em #ffffff !important;
		}
	}
	&.select {
		&:before {
			content: '';
			display: block;
			border: 0.0625em solid #8493A7;
			border-radius: 0.0625em;
			border-width: 0 0 0.14em 0.14em;
			width: 0.625em;
			height: 0.625em;
			line-height: 0;
			transform: rotate(-45deg);
			position: absolute;
			top: 0.2em;
			right: 0.4em;
		}
	}
	&.required {
		&:after {
			content: '*';
			color: #FF5959;
			font-size: 0.9em;
			position: absolute;
			top: 0.1em;
			right: 0.2em;
			display: block;
			z-index: 4;
		}
		input, select {
			&.error {
				border-color: #FF5959;
			}
		}
	}
}