%sourceSansPro {
  font-family: 'Source Sans pro', arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.headline {
  @extend %sourceSansPro;
  margin: -1.5% auto 0.8%;
  max-width: 700px;
  text-align: center;
  h1 {
    color: #ffffff;
    font-size: 77px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: -0.02em;
    line-height: 0.85;
    padding-bottom: 0.35em;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.11);
    span {
      color: #fff400;
    }
  }
  ul {
    list-style: none;
    li {
      color: #fff400;
      font-size: 24px;
      font-style: italic;
      font-weight: 600;
      display: inline-block;
      line-height: 1;
      margin: 0.3em 1%;
      text-align: left;
      text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.11);
      width: 40%;
      &:before {
        content: '';
        background: url('./checkmark.png') left top no-repeat;
        display: inline-block;
        filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.11));
        width: 20px;
        height: 20px;
        padding-right: 0.25em;
      }
    }
  }
}