* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: url('bg.jpg') center top no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-top: 4px solid #88e153;
}