%sourceSansPro {
  font-family: 'Source Sans pro', arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.form {
  background: #ffffff;
  border-top: 3px solid #88e153;
  border-bottom: 4px solid #7bcc4b;
  box-shadow: 0px 6px 0px #88e153, 0px 0px 4px rgba(34, 34, 34, 0.11);
  @extend %sourceSansPro;
  font-size: 14px;
  margin: 0 auto 3.5em;
  max-width: 653px;
  padding: 0 1.65em 2em;
  position: relative;
  width: 98%;
  &--instructions {
    color: #084d8a;
    font-size: 47px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1;
    padding: 0.53em 0 0.2em;
    span {
      color: #40a603;
    }
    strong {
      font-weight: 900;
    }
    sup {
      font-size: 40%;
      padding-left: 0.2em;
      vertical-align: top;
    }
  }
  &--button {
    background: #88e153;
    border: 0px;
    box-shadow: inset 0px 3px 0px #b9ef8b, 0px 2px 0px #e8eee3;
    color: #ffffff;
    cursor: pointer;
    @extend %sourceSansPro;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -0.02em;
    line-height: 1;
    margin: 0.2em auto;
    padding: 0.2em 0 0.3em;
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
  }
  &--secure {
    color: #494949;
    font-size: 1em;
    padding: 1em;
    img {
      display: inline-block;
      vertical-align: top;
      margin-right: 0.4em;
    }
    a {
      color: inherit;
    }
  }
  &--details {
    bottom: -2.5em;
    color: #ffffff;
    font-size: 1.18em;
    font-style: italic;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    sup {
      font-size: 70%;
      padding-right: 0.3em;
      vertical-align: top;
    }
  }
  .field:nth-child(-n+1) {
    margin-right: 3.5%;
  }
  .field:nth-child(-n+2) {
    width: 48.25%;
  }
}